---
layout: archive
title: "Public Writing"
permalink: /external-posts/
author_profile: true
---

{% include base_path %}

<p>As someone who learns in public online, I've written many hundreds of articles, posts, and liveblogs across the web over the years. I currently blog <a href="https://citizensandtech.org/author/j-nathan-matias/">at the Citizens and Technology Lab</a> and on <a href="https://medium.com/@natematias">Medium</a>.

<p>This incomplete archive also pulls from former blogs including <a href="https://civic.mit.edu/author/natematias/">MIT Center for Civic Media</a>, my blog on Princeton's <a href="https://freedom-to-tinker.com/author/nmatias/">Freedom to Tinker</a> site, my articles at <a href="https://www.theatlantic.com/feed/author/j-nathan-matias/">The Atlantic</a>, writings at the <a href="http://blog.emergingscholars.org/">Emerging Scholars Network</a>, posts for (formerly PBS) <a href="http://mediashift.org/author/natematias/">MediaShift</a>, and articles for <a href="https://summit2012.globalvoices.org/author/nmatias/">Global Voices</a>.</p>

<p>I frequently blog public talks to broaden public exposure to scholarly ideas and to enable transparency toward powerful people's public statements. <strong>Liveblog posts, which summarize what was said, do not reflect my personal views</strong>.</p>

<hr/>

{% for post in site.external_posts reversed %}
  {% include archive-single.html %}
{% endfor %}
