---
layout: archive
title: "Speaking"
padding: 1
permalink: /speaking/
author_profile: true
---

{% include base_path %}

<style type="text/css">
.img-thumbnail{
  opacity:0.25;
}
</style>

<div align="center"><img src="../images/CALS_20190911_56-websized.jpg" width="65%"/></div>

<p>I frequently give public audience and academic talks. If you are an academic department looking for a colloquium speaker, ask me about a <a href="/publications/">recent publication</a> or one of the following topics:</p>

<ul>
  <li>The Science of Impact Assessments for Human-Algorithm Feedback Loops</li>
  <li>Community-led field experiments in computing, social-psychology, and technology governance</li>
  <li>Advancing science through archives of corporate experiments: The Upworthy Research Archive</li>

</ul>


<p>In recent years, I have spoken at TED NYC, South by Southwest, the Internet Governance Forum, Wikimania, the Mozilla Festival, the Veritas Forum, and many universities around the world. <!--I have given academic talks at Stanford, Harvard, MIT, Cambridge, Oxford, Princeton, Yale, Columbia, Northeastern, Berkeley, Northwestern, and Francisco Marroquin, to name a few.--> I have given invited talks at tech firms including Twitter, Microsoft, Facebook, Reddit, Disqus, and many others. I also specialize at orchestrating creative events and workshops that foster new ideas and powerful collaborations.</p>


<h3>Scheduling Talks</h3>
<p>To schedule a talk, please send me an email at <em>nathan.matias@cornell.edu</em>. Due to the COVID-19 pandemic I am giving talks remotely and have a studio space with high quality video/audio for that purpose.</p>

<p>As a Guatemalan-American who does research and action to advance diverse representation in tech and media, <strong>I decline to participate in all-male or mostly-male events and I can often suggest more diverse speakers</strong>. 

<p>To <a href="https://citizensandtech.org/2020/01/industry-independent-research/">manage conflicts of interest from corporate events</a>, I request that all honoraria and gifts from the technology industry to be sent to the <a href="https://hrdag.org/">Human Rights Data Analysis Group</a> or the <a href="https://www.nwp.org/">National Writing Project</a>.

<h3>Previous Talks & Workshops</h3>
<p>To give you a sense of the range of my speaking, here is a sample of past talks and workshops</p>

<hr/>

<div class="grid-container">

{% for post in site.speaking reversed %}
  {% include portfolio-archive-single.html type="grid"%}
{% endfor %}

</div>
